.items-list > a {
  display: flex;
  max-width: 400px;
  flex-direction: column;
  gap: 0.25rem;
}
.items-list > a > img {
  margin-bottom: 1rem;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}
.items-list > a > h3 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(190 24 93 / var(--tw-text-opacity, 1));
}
.items-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
